:root {
    /* Spacing scale */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
    --space-xxxl: 64px;

    /* Radius */
    --radius-s: 4px;
    --radius-m: 6px;
    --radius-l: 8px;
    --radius-xl: 18px;

    /* Default radius */
    --radius: var(--radius-m);

    /* Sidebar */
    --sidebar-width-full: 220px;
    --sidebar-width-mini: 60px;

    --toolbar-height: 58px;
}
